/*自定义滚动条*/
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 16px;  
    background-color: #F5F5F5;  
}  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #C1C1C1;  
}
/*css多行省略号（-webkit-line-clamp设置行数；移动端和webkit内核兼容）*/
.multi-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    word-break:break-all;
}
a{
    /*这个是去掉默认式样的*/
    -webkit-appearance: none;
    -webkit-tap-highlight-color:transparent; 
    -webkit-appearance: none; 
    /*这个是去掉点击的时候有阴影闪一下的*/
    -webkit-tap-highlight-color:transparent; 
}

   


